<section class="portfolio">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <div class="row portfolio__list">

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-1.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-1.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-2.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-2.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-3.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-3.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-1.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-1.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-2.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-2.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-3.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-3.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-1.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-1.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-2.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-2.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-6 col-lg-4 portfolio__item">
        <figure class="portfolio__inner">
          <img src="img/content/portfolio-sm-3.jpg" alt="">
          <figcaption class="portfolio__content">
            <h3>Московская <br>биржа</h3>
            <p>Управляющая компания российских <br>биржевых площадок</p>
            <a href="img/content/portfolio-3.jpg" data-fancybox="group">Смотреть</a>
          </figcaption>
        </figure>
      </div>

      <div class="col-md-12 text-center portfolio__btn-wrap">
        <a href="#" class="btn portfolio__btn">Показать больше</a>
      </div>

    </div>
    <!-- /.portfolio__list -->
  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-12"></div>
  <div class="parallax parallax-square-13"></div>
</section>
<!-- /.portfolio -->