.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  &__top
    padding: 17px 0
    background-color: rgba(#000, 0.7)
    border-bottom: 1px solid rgba(#fff, 0.2)
    &-right
      display: flex
  &__bottom
    background-color: rgba(#000, 0.5)
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
  &__phone
    margin-right: 75px
    max-width: 240px
    &:last-child
      margin-right: 0