.swiper-pagination-bullet
  +size(8px)
  background-color: #fff
  opacity: 1
  vertical-align: middle
  border: 3px solid transparent
  +transition
  &-active
    +size(14px)
    background-color: transparent
    border: 3px solid $bittersweet
    border-radius: 50%