<section class="about">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-xl-3">
        <aside class="sidebar">
          <div class="widget widget--about">
            <h3 class="widget__title">Обратившись в нашу компанию, Вы получаете полный спектр услуг:</h3>
            <div class="widget__content">
              <ul class="categories-list">
                <li class="active"><a href="#">Визитки</a></li>
                <li><a href="#">Бланки</a></li>
                <li><a href="#">Конверты</a></li>
                <li><a href="#">Presswoll</a></li>
                <li><a href="#">Самоклеящаяся плёнка</a></li>
                <li><a href="#">Баннеры</a></li>
                <li><a href="#">RollUp</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="col-lg-8 col-xl-9">
        <div class="about__content">
            <h2 class="section-title"><span>Наши услуги</spa></h2>
            <img src="img/content/about.jpg" alt="" class="textright">
            <p>Уже более десяти лет наша компания выпускает качественные рекламно-информационные материалы. За это время мы стали одной из самых крупных компаний по производству полиграфии, интерьерной и наружной рекламы, а также сувенирной продукции во всей Российской Федерации. Специалисты «АРТ-ПОЛИГРАФИИ» имеют индивидуальных подход к каждому клиенту. Они предлагают самые креативные и смелые решения для рекламы вашей продукции.</p>
            <p>Современный рынок услуг строится на жесткой конкуренции, поэтому для успешного продвижения собственного дела просто необходима мощная реклама. Визитки и буклеты зачастую случайно попадающие в руки потенциальным потребителям, на подсознательном уровне ненавязчиво предлагают обратить внимание на услуги той или иной фирмы, или же оповестить о приближающемся событии. Полиграфическая реклама может быть завлекающим маневром на улице или же презентабельным акцентом на конференциях (папки, блокноты).</p>
        </div>
        
      </div>

    </div>
  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-11"></div>
  <div class="parallax parallax-square-12"></div>
</section>
<!-- /.about -->