<section class="blog">
    <div class="block">
      <div class="block__inner"></div>
    </div>
    <div class="container">
      <div class="row blog__list">

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-1.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Персонализация. полиграфия с переменными данными</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-2.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Печать буклетов в москве. почти пошаговое руководство</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-3.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">бумажные пакеты с персональным поздравлением</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-1.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Персонализация. полиграфия с переменными данными</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-2.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Печать буклетов в москве. почти пошаговое руководство</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-3.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">бумажные пакеты с персональным поздравлением</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-1.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Персонализация. полиграфия с переменными данными</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-2.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">Печать буклетов в москве. почти пошаговое руководство</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 blog__item">
          <div class="blog__img-wrap">
            <a href="single.html">
              <img src="img/content/blog-3.jpg" alt="">
            </a>
          </div>
          <div class="blog__content">
            <h3><a href="single.html">бумажные пакеты с персональным поздравлением</a></h3>

            <div class="blog__bottom">
              <time class="blog__publish">25 июля 2018</time>
              <a href="single.html" class="blog__link">Подробнее <i class="fas fa-angle-right"></i></a>
            </div>
          </div>
        </div>
  
        <div class="col-md-12 text-center blog__btn-wrap">
          <a href="#" class="btn blog__btn">Показать больше</a>
        </div>
  
      </div>
      <!-- /.blog__list -->
    </div>
    <!-- /.container -->

    <div class="parallax parallax-square-10"></div>
    <div class="parallax parallax-square-11"></div>
  </section>
  <!-- /.blog -->