<section class="advantages">
  <div class="container">
    <h2 class="section-title"><span>Наши преимущества</span></h2>

    <div class="advantages__list row">

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-eco.svg" alt="" width="50" height="50" class="advantages__icon">
          <h3>Экологичная <br>печать</h3>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-printer.svg" alt="" width="60" height="50" class="advantages__icon">
          <h3>Типография <br>полного цикла</h3>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-diamond.svg" alt="" width="50" height="50" class="advantages__icon">
          <h3>Премиальное <br>качество</h3>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-support.svg" alt="" width="50" height="50" class="advantages__icon">
          <h3>Персональный <br>менеджер</h3>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-university.svg" alt="" width="55" height="50" class="advantages__icon">
          <h3>Работа с <br>государственными <br>компаниями</h3>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 advantages__item">
        <div class="advantages__inner">
          <img src="img/icon/icon-pantone.svg" alt="" width="50" height="50" class="advantages__icon">
          <h3>Работы любой <br>сложности</h3>
        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.advantages -->