<section class="catalog">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <h2 class="section-title"><span>Каталог продукции</spa></h2>

    <a href="shop.html" class="catalog__link">Перейти в каталог <i class="fas fa-angle-right"></i></a>

    <div class="products row">

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-1.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Визитки</a></h3>
            <p class="products__price-wrap">от <span>1360</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-2.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Бумажные стаканы</a></h3>
            <p class="products__price-wrap">от <span>4500</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-3.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Полиэтиленовые пакеты</a></h3>
            <p class="products__price-wrap">от <span>4222</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-4.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Пластиковые папки</a></h3>
            <p class="products__price-wrap">от <span>4938</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-5.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Листовки</a></h3>
            <p class="products__price-wrap">от <span>1383</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-6.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Буклеты</a></h3>
            <p class="products__price-wrap">от <span>4370</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-7.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Каталоги</a></h3>
            <p class="products__price-wrap">от <span>9289</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-8.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Календари</a></h3>
            <p class="products__price-wrap">от <span>1202</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="col-md-12 text-center">
        <a href="#" class="btn catalog__btn">Показать больше</a>
      </div>

    </div>
    <!-- /.products -->
  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-1"></div>
  <div class="parallax parallax-square-2"></div>
</section>
<!-- /.catalog -->