<section class="contact">
  <div class="container">
    <div class="contact__wrap" id="contact" data-aos="fade-left">
      <div class="contact__wrap-top">
        <h2 class="section-title"><span>Контакты</span></h2>

        <p class="contact__item">
          <strong>Адрес:</strong> <span>г. Москва, Окружной проезд, <br>дом 8, строение 1, 4 этаж</span>
        </p>
        <p class="contact__item">
          <strong>Телефон:</strong> <span><a href="tel:+74997144247">+7 (499) 714 42 47</a> <br> <a href="tel:+79772527755">+7 (977) 252 77 55</a></span>
        </p>
        <p class="contact__item">
          <strong>E-mail:</strong> <span><a href="mailto:art-poligrafy@yandex.ru">art-poligrafy@yandex.ru</a></span>
        </p>
      </div>

      <div class="contact__wrap-bottom">
        <h3>Свяжитесь с нами!</h3>
        <p>Получите надежного партнера для взаимовыгодного сотрудничества</p>
        <a href="#" class="btn callback_open">заказать звонок</a>
      </div>
      
    </div>
  </div>
  <!-- /.container -->
  <div id="map"></div>
</section>
<!-- /.contact -->