<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <a href="#" class="footer__logo logo">
        <img src="img/logo.svg" alt="Art poligrafy" width="156" height="33">
      </a>

      <ul class="footer__socials socials">
        <li>
          <a href="https://instagram.com" target="_blank">
            <svg>
              <use xlink:href="img/symbols.svg#icon-instagram"></use>
            </svg>
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <svg>
              <use xlink:href="img/symbols.svg#icon-facebook"></use>
            </svg>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://vk.com" target="_blank">
            <svg>
              <use xlink:href="img/symbols.svg#icon-vk"></use>
            </svg>
            <span>Vk.com</span>
          </a>
        </li>
      </ul>

      <p class="copyright">&copy; art-poligrapfy</p>

    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->

<div id="callback" class="modal">
  <button class="callback_close modal__close">
    Close
    <span class="modal__close-line"></span>
  </button>
  <h3>Обратный звонок</h3>
  <p>Заполните форму и наш менеджер свяжется с вами в течение 5 минут</p>

  <form action="sendmail.php" class="row form callback-form" method="post">

    <input type="hidden" name="subject" value="Обратный звонок">

    <div class="col-sm-12 form-group">
      <input type="text" class="form__field" name="name" placeholder="Ваше имя" required>
    </div>

    <div class="col-sm-12 form-group">
      <input type="tel" name="phone" class="form__field" required placeholder="+7 (___) ___-__-__">
    </div>

    <div class="col-sm-12 form-group">
      <input type="submit" class="btn form__btn" name="submit" value="Заказать звонок">
    </div>

  </form>
</div>

<div id="thanks" class="modal">
  <button class="thanks_close modal__close">
    Close
    <span class="modal__close-line"></span>
  </button>
  <h3>Спасибо за заказ</h3>
  <p>Скоро мы Вам перезвоним!</p>
</div>

<link rel="stylesheet" href="css/style.min.css">
<script src="js/script.js"></script>
<script src="js/common.min.js"></script>
<script>
  window.addEventListener('load', function() {
    if (document.getElementById('map')) {
    function initMap() {
      var uluru = {lat: 55.7946037, lng: 37.7432561};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: uluru,
        disableDefaultUI: true
      });

      var image = {
        url: 'img/pin.svg',
        size: new google.maps.Size(48, 60),
        scaledSize: new google.maps.Size(48, 60)
      };

      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        icon: image,
        animation: google.maps.Animation.DROP,
      });
    }

    initMap();
  }
  });
  
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmnk4RCDwjSucIJ2WXRnLkuCrsWR4DUM4"></script>