<div class="hero-slider swiper-container">
  <div class="swiper-wrapper">
    <div class="hero-slider__item swiper-slide" style="background-image: url('img/hero.jpg');">
      <div class="container">
        <div class="hero-slider__content">
          <h1>Типография полного цикла</h1>
          <p>Будем рады предложить вам сотрудничество и современные <br>идеи для успеха любого бизнеса</p>
          <a href="#" class="btn">Перейти в каталог</a>
        </div>
      </div>
    </div>
    <div class="hero-slider__item swiper-slide" style="background-image: url('img/hero.jpg');">
      <div class="container">
        <div class="hero-slider__content">
          <h1>Типография полного цикла</h1>
          <p>Будем рады предложить вам сотрудничество и современные <br>идеи для успеха любого бизнеса</p>
          <a href="#" class="btn">Перейти в каталог</a>
        </div>
      </div>
    </div>
    <div class="hero-slider__item swiper-slide" style="background-image: url('img/hero.jpg');">
      <div class="container">
        <div class="hero-slider__content">
          <h1>Типография полного цикла</h1>
          <p>Будем рады предложить вам сотрудничество и современные <br>идеи для успеха любого бизнеса</p>
          <a href="#" class="btn">Перейти в каталог</a>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<!-- /.hero-slider -->