<section class="testimonial">
  <div class="container">
    <h2 class="section-title"><span>Отзывы о нас</span></h2>

    <div class="testimonial-slider swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide testimonial-slider__item">
          <img src="img/content/user.jpg" alt="" class="testimonial-slider__user">

          <div class="testimonial-slider__content">
            <div class="testimonial-slider__top">
              <h3>Ева Финкельштейн</h3>
              <time class="testimonial-slider__publish">09.10.2018</time>
            </div>
            <p>Хочу сказать большое спасибо типографии, которая очень надежно и ответственно подходит к выполнению заказов! Отдельно хотела бы выделить менеджера Татьяну Орлову, которая не допускала недомолвок и шла навстречу при выполнении заказа! Заказывала второй раз, очень довольна!</p>
          </div>
        </div>

        <div class="swiper-slide testimonial-slider__item">
          <img src="img/content/user.jpg" alt="" class="testimonial-slider__user">

          <div class="testimonial-slider__content">
            <div class="testimonial-slider__top">
              <h3>Ева Финкельштейн</h3>
              <time class="testimonial-slider__publish">09.10.2018</time>
            </div>
            <p>Хочу сказать большое спасибо типографии, которая очень надежно и ответственно подходит к выполнению заказов! Отдельно хотела бы выделить менеджера Татьяну Орлову, которая не допускала недомолвок и шла навстречу при выполнении заказа! Заказывала второй раз, очень довольна!</p>
          </div>
        </div>

        <div class="swiper-slide testimonial-slider__item">
          <img src="img/content/user.jpg" alt="" class="testimonial-slider__user">

          <div class="testimonial-slider__content">
            <div class="testimonial-slider__top">
              <h3>Ева Финкельштейн</h3>
              <time class="testimonial-slider__publish">09.10.2018</time>
            </div>
            <p>Хочу сказать большое спасибо типографии, которая очень надежно и ответственно подходит к выполнению заказов! Отдельно хотела бы выделить менеджера Татьяну Орлову, которая не допускала недомолвок и шла навстречу при выполнении заказа! Заказывала второй раз, очень довольна!</p>
          </div>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- /.testimonial-slider -->

    <a href="#" class="testimonial__link">Оставить свой отзыв <i class="fas fa-angle-right"></i></a>

  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-4"></div>
</section>
<!-- /.testimonial -->