<section class="post">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <div class="post__content clearfix">
        <p>В древние времена, когда люди еще ходили из города в город пешком, а привидения были не плодом фантазии, а добрыми соседями, все знания передавались устно от одного человека к другому, из-за чего информация все время искажалась.</p>
        <p>Потом люди изобрели письменность и стали записывать то, что знают или думают про мир на камне, глине, дереве и коже. Но это невозможно было распространять и поэтому писалось, как сейчас, после изобретения книгопечатания, говорят, «в стол».</p>
        <p>Массовое распространение идей, новостей и шедевров стало возможно только с появлением книгопечатания. Как именно оно появилось — один из самых сложных вопросов в истории. Сложность его в том, что нельзя точно определить создателя. Но самая распространенная точка зрения такова: книгопечатание изобрел некий Гутенберг. </p>
        <p>Для возникновения книгопечатания помимо технологий, предпосылки которых появились еще во II веке в Китае, необходим был дешевый материал. Таким материалом стала бумага. Папирус и пергамент, использовавшиеся раньше и похожие на нее по своим свойствам, были слишком дорогими. В конеце XIII в. бумага стала распространяться на Запад и в 1320г. в Майнце, городе, где родился Гутенберг, была создана первая бумажная мельница.</p>
        <div class="wp-caption textleft">
          <img src="img/content/gutenberg.jpg" alt="">
          <p class="wp-caption-text">Иоганн Гутенберг немецкий <br>первопечатник, первый <br>типограф Европы.</p>
        </div>
        <p>В тот момент, оазисами знаний были монастыри и до деятельности Гутенберга книгопечатанию ставились почти непреодолимые препятствия. Церковь запрещала печать священных текстов и перевод их с латыни на народные языки, боясь распространения ереси, а светской литературы еще практически не существовало. Для изменения этой ситуации, нужны были большие социальные сдвиги и возможны они стали только в период, когда человечество осознало необходимость фиксации и распространения научных знаний, а от тех, кто хотел участвовать в общественной жизни, все чаще требовалась образованность.</p>
        <p>Но Гутенбергу, несмотря на удачный момент, грозила реальная опасность: в Кельне, например, сожгли все первые экземпляры Библии. Изобретение книгопечатание лишало монахов заработка и многие из них, естественно, пытались противостоять этому.</p>
        <p>Но книгопечатание все равно развивалось. Первым текстом, который напечатал Гутенберг, была Севильская книга — немецкая поэма от которой до наших дней дошел маленький клочок бумаги. Затем изобретатель замыслил масштабный проект — печать полного издания Библии и с большими потерями для себя осуществил его. И не зря — это издание Библии стало самой хорошо сохранившейся книгой тех времен.</p>
        <div class="wp-caption">
          <img src="img/content/book.jpg" alt="">
          <p class="wp-caption-text">Библия Гутенберга. Экземпляр из музея в Майнце. выпущенное Иоганном Гутенбергом в первой половине 1450-х годов</p>
        </div>
        <p>Гутенберг рассек ремесленное единство печати на отдельные виды работы: изготовление шрифта, набор и печать. На его долю может быть выпала честь предвосхитить мануфактурные формы организации производства, которые с XVII века должны были победить ремесло.</p>
        <p>Распространение книгопечатания кардинально изменило мир: оно сильно повысило уровень образованности и это привело к ускорению прогресса и к потере мешающей ему «наивности», позволило людям перенимать достижения других культур и, вообще, во многом, спровоцировало Ренессанс. Мартин Лютер называл книгопечатание «Вторым искуплением рода человеческого».</p>
        <p>Так что все не так просто. Великим делом мы тут занимаемся, господа.</p>
    </div>
    <!-- /.post__content clearfix -->
  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-10"></div>
  <div class="parallax parallax-square-11"></div>
</section>
<!-- /.post -->