<section class="shop">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">

    <div class="products row">

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-1.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Визитки</a></h3>
            <p class="products__price-wrap">от <span>1 360</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-2.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Бумажные стаканы</a></h3>
            <p class="products__price-wrap">от <span>4 500</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-3.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Полиэтиленовые пакеты</a></h3>
            <p class="products__price-wrap">от <span>4 222</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-4.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Пластиковые папки</a></h3>
            <p class="products__price-wrap">от <span>4 938</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-5.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Листовки</a></h3>
            <p class="products__price-wrap">от <span>1 383</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-6.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Буклеты</a></h3>
            <p class="products__price-wrap">от <span>4 370</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-7.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Каталоги</a></h3>
            <p class="products__price-wrap">от <span>9 289</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-8.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Календари</a></h3>
            <p class="products__price-wrap">от <span>1 202</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-9.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Блокноты</a></h3>
            <p class="products__price-wrap">от <span>1 360</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-10.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Бумажные <br>пакеты</a></h3>
            <p class="products__price-wrap">от <span>4 500</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-11.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Открытки</a></h3>
            <p class="products__price-wrap">от <span>4 222</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-12.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Конверты</a></h3>
            <p class="products__price-wrap">от <span>4 938</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-13.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Бланки</a></h3>
            <p class="products__price-wrap">от <span>1 383</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-14.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Тейбл-тенты</a></h3>
            <p class="products__price-wrap">от <span>4 370</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-15.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Плакаты</a></h3>
            <p class="products__price-wrap">от <span>9 289</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <div class="products__item col-sm-6 col-lg-4 col-xl-3">
        <div class="products__inner">
          <div class="products__img-wrap">
            <a href="product.html">
              <img src="img/content/product-16.jpg" alt="">
            </a>
          </div>

          <div class="products__content">
            <h3><a href="product.html">Коробки <br>и упаковки</a></h3>
            <p class="products__price-wrap">от <span>1 202</span> руб.</p>
            <p class="products__unit">(за 1000 шт.)</p>
          </div>

          <div class="products__hidden">
            <a href="#" class="btn btn--trs cost_open">Стоимость</a>
            <a href="#" class="btn order_open">Заказать</a>
          </div>

        </div>
      </div>

      <!-- <div class="col-md-12 text-center">
        <a href="#" class="btn catalog__btn">Показать больше</a>
      </div> -->

    </div>
    <!-- /.products -->

  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-5"></div>
  <div class="parallax parallax-square-6"></div>
  <div class="parallax parallax-square-7"></div>

</section>
<!-- /.shop -->