<section class="product">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-xl-3">
        <aside class="sidebar">
          <div class="widget widget-categories">
            <h3 class="widget__title">Каталог продукции:</h3>
            <div class="widget__content">
              <ul class="categories-list">
                <li class="active"><a href="#">Визитки</a></li>
                <li><a href="#">Плакаты и Афишы</a></li>
                <li><a href="#">Флаера</a></li>
                <li><a href="#">Конверты</a></li>
                <li><a href="#">Широкоформатная печать</a></li>
                <li><a href="#">Листовки</a></li>
                <li><a href="#">Блокноты</a></li>
                <li><a href="#">Наклейки</a></li>
                <li><a href="#">Брендвол</a></li>
                <li><a href="#">Пресс вол</a></li>
                <li><a href="#">Х-банер паук</a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Грамоты</a></li>
                <li><a href="#">Оракал</a></li>
                <li><a href="#">Папки</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="col-lg-8 col-xl-9">
        <div class="product__wrap">

          <div class="product__slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
            <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
          </div>
          <!-- /.product__slider -->

          <div class="product__info">

            <div class="product__meta">
              <div class="product__meta-item">
                <b>Формат</b> <span>50х90 мм</span>
              </div>
              <div class="product__meta-item">
                <b>Бумага</b> <span>300 г/м, мелованная</span>
              </div>
              <div class="product__meta-item">
                <b>Цветность</b> <span>4+0 / 4+4</span>
              </div>
              <div class="product__meta-item">
                <b>Печать</b> <span>цифровая</span>
              </div>
              <div class="product__meta-item">
                <b>Срок изготовления</b> <span>1-2 раб. дня</span>
              </div>
            </div>
            <!-- /.product__meta -->

            <p class="product__price-wrap">от <span>1 360</span> руб.</p>
            <p class="product__unit">(за 1000 шт.)</p>

            <div class="product__additional">
              <p>Дополнительно возможно:</p>
              <ul>
                <li>Использование дизайнерских бумаг;</li>
                <li>Глянцевая, матовая ламинация;</li>
                <li>Заказать дизайн визитки.</li>
              </ul>

              <p class="product__additional-note"><sup>*</sup> Стоимость нестандартных изделий рассчитывается индивидуально</p>
            </div>

          </div>
          <!-- /.product__info -->

        </div>
        <!-- /.product__wrap -->

        <div class="product__table-price">
          <h3 class="product__table-head">Стоимость<sup>*</sup></h3>
          <div class="product__table-wrap">
            <table class="product__table">
              <thead>
                <tr>
                  <td>Тираж, шт.</td>
                  <td>100</td>
                  <td>200</td>
                  <td>300</td>
                  <td>400</td>
                  <td>500</td>
                  <td>600</td>
                  <td>700</td>
                  <td>800</td>
                  <td>900</td>
                  <td>1000</td>
                  <td>2000</td>
                  <td>3000</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4+0, руб.</td>
                  <td>500</td>
                  <td>618</td>
                  <td>843</td>
                  <td>948</td>
                  <td>1065</td>
                  <td>1200</td>
                  <td>1309</td>
                  <td>1440</td>
                  <td>1521</td>
                  <td>1600</td>
                  <td>2720</td>
                  <td>3930</td>
                </tr>
                <tr>
                  <td>Цена за шт.</td>
                  <td>5,00</td>
                  <td>3,09</td>
                  <td>2,81</td>
                  <td>2,37</td>
                  <td>2,13</td>
                  <td>2,00</td>
                  <td>1,87</td>
                  <td>1,80</td>
                  <td>1.69</td>
                  <td>1.60</td>
                  <td>1.36</td>
                  <td>1.31</td>
                </tr>
                <tr>
                  <td>4+4, руб.</td>
                  <td>707</td>
                  <td>912</td>
                  <td>1131</td>
                  <td>1316</td>
                  <td>1545</td>
                  <td>1740</td>
                  <td>1946</td>
                  <td>2168</td>
                  <td>2331</td>
                  <td>2570</td>
                  <td>4640</td>
                  <td>6750</td>
                </tr>
                <tr>
                  <td>Цена за шт.</td>
                  <td>7,07</td>
                  <td>4,56</td>
                  <td>3,77</td>
                  <td>3,29</td>
                  <td>3,09</td>
                  <td>2,90</td>
                  <td>2,78</td>
                  <td>2,71</td>
                  <td>2,59</td>
                  <td>2,57</td>
                  <td>2,32</td>
                  <td>2,25</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.product__table-price -->

        <p class="product__note"><sup>*</sup> Указанная стоимость является ориентировочной (точную цену узнавайте у менеджеров).</p>

        <section class="request">
          <h2 class="section-title"><span>Хотите дешевле?</span></h2>
          <div class="request__content clearfix">
            <p>Оставьте заявку на расчет и наши специалисты подберут оптимальный вариант для вас, а так же ознакомят вас с нашими <br>спец предложениями (акциями/кейсами и системой скидок)!</p>
            <a href="#" class="btn request_open">оставить заявку</a>
          </div>
        </section>
        <!-- /.request -->

      </div>

    </div>
  </div>
  <!-- /.container -->

  <div class="parallax parallax-square-8"></div>
  <div class="parallax parallax-square-9"></div>
</section>
<!-- /.product -->