<section class="product">
  <div class="block">
    <div class="block__inner"></div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-lg-3">
        <aside class="sidebar">
          <div class="widget widget-categories">
            <h3 class="widget__title">Каталог продукции:</h3>
            <div class="widget__content">
              <ul class="categories-list">
                <li class="active"><a href="#">Визитки</a></li>
                <li><a href="#">Плакаты и Афишы</a></li>
                <li><a href="#">Флаера</a></li>
                <li><a href="#">Конверты</a></li>
                <li><a href="#">Широкоформатная печать</a></li>
                <li><a href="#">Листовки</a></li>
                <li><a href="#">Блокноты</a></li>
                <li><a href="#">Наклейки</a></li>
                <li><a href="#">Брендвол</a></li>
                <li><a href="#">Пресс вол</a></li>
                <li><a href="#">Х-банер паук</a></li>
                <li><a href="#">Сертификаты</a></li>
                <li><a href="#">Грамоты</a></li>
                <li><a href="#">Оракал</a></li>
                <li><a href="#">Папки</a></li>
              </ul>
            </div>
          </div>
        </aside>
      </div>

      <div class="col-lg-8">
        <div class="product__wrap">

          <div class="product__slider swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
              <div class="swiper-slide product__slider-item">
                <a href="img/content/product-slider.jpg" data-fancybox>
                  <img src="img/content/product-slider.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
            <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
          </div>
          <!-- /.product__slider -->

          <div class="product__info">
            
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /.product -->